/*
 * Animation
 * Fade-in loading.
 */
@keyframes fading{0%{opacity:0}100%{opacity:1}}
/*
 * Container
 * The body of the website is centered on the screen.
 * The container of all the content has a max of 1500px.
 */
body
{
	/*Structure*/
	margin: auto;
	text-align: center;

	/*Background*/
	background-image: url("./image/datawall-logo-cover.png");
	background-position: top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	/*Font Family*/
	font-family: Helvetica;
}
.container
{
	/*Structure*/
	text-align: left;
	display: inline-block;
	max-width: 1500px;
	margin: 50px auto;

	/*Background*/
	background-color: rgb(255,255,255); /*Fallback color*/
	background-color: rgba(255,255,255,0.9);
	box-shadow: 1px 2px 9px rgba(0,0,0,.5);
}
/*
 * Navigation Links
 * Displays all of the links to pages at the top center of the screen.
 */
.navigation-links
{
	/*Structure*/
	max-width: 750px;
	margin: 25px auto 25px auto;

	/*Font and Text*/
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.navigation-links a
{
	/*Structure*/
	margin-right: 15px;

	/*Font and Text*/
	text-decoration: none;
	color: #6d6d6d;
	line-height: 2;
}
.navigation-links a:hover
{
	/*Font and Text*/
	transition-duration: 0.3s;
	color: black;
	border-bottom: solid;
}
/*
 * Page Title
 * Displays the name of the state/page.
 */
.home-page-header h1
{
	line-height: 0;
	animation: fading 2s;
	text-align: center;
	font-size: 65px;
	font-weight: 100;
	letter-spacing: 3px;
}
.home-page-header h2
{
	line-height: 0;
	animation: fading 4s;
	text-align: center;
	font-size: 30px;
	font-weight: 100;
	letter-spacing: 3px;
	color: #6d6d6d;
}
.state-page-header h1
{
	animation:fading 2s;
	text-align: center;
	font-family: Helvetica;
	font-size: 60px;
	font-weight: 500;
	text-transform: uppercase;
}
/*
 * Home Page Layout
 */
.home-page-intro p
{
	margin: auto;
	width: 70%;
	text-align: justify;
	letter-spacing: 3px;
	font-size: 30px;
	color: #6d6d6d;
	font-weight: 100;
}
/*
 * Graph/Text 100
 * Line graphs or text that take up 100% width.
 */
.text-area-100
{
	float: left;
}
.line-graph-100, .text-area-100
{
	animation:fading 2s;
	width: 100%;

	font-family: Helvetica;
	line-height: 1.3;
}
.text-area-960
{
	float: left;
	width: 960px;
	text-align: justify;
	line-height: 1.3;
}
.line-graph-100 h2, .text-area-100 h2
{
	margin: 0 0 0 70px;

	font-weight: 500;
}
.line-graph-100 h3, .text-area-100 h3
{
	margin: 0 0 0 100px;

	font-weight: 300;
}
.line-graph-100 a, .text-area-100 a, .text-area-960 a
{
	color: #d3706f;

	text-decoration: none;
}
.line-graph-100 a:hover, .text-area-100 a:hover, .text-area-960 a:hover
{
	transition-duration: 0.2s;
	color: black;
	border-bottom: solid;
}
.line-graph-100 #chartdiv, #chartdiv2
{
	margin: auto;
	width: 90%;
	height: 500px;
}
.line-graph-100 p, .text-area-100 p
{
	margin: 10px 100px 10px 100px;
	font-family: Helvetica;
	letter-spacing: 1px;
	text-align: justify;
}
/*
 * Line Graph 50
 * Line graphs that take up half of the width.
 * Two line graph 50's are able to be side by side.
 */
.line-graph-50
{
	animation:fading 2s;
	width: 49%;
	float: left;
	font-family: Helvetica;
}
.line-graph-50 h2
{
	margin: 30px 0 0 70px;

	font-weight: 500;
}
.line-graph-50 h3
{
	margin: 0 0 0 100px;

	font-weight: 300;
}
.line-graph-50 a
{
	color: #d3706f;

	text-decoration: none;
}
.line-graph-50 a:hover
{
	transition-duration: 0.2s;
	color: black;
	border-bottom: solid;
}
.line-graph-50 #chartdiv2, #chartdiv3
{
	margin: auto;
	width: 90%;
	height: 400px;
}
.line-graph-50 p
{
	margin: 10px 50px 10px 100px;
	font-family: Helvetica;
	letter-spacing: 1px;
	text-align: justify;
}
/*
 * "Half-screen" Web View
 * If the screen is portrait, rather than landscape,
 * turn 50% graphs into 100% and fix margins.
 */
@media screen and (orientation:portrait)
{
	.line-graph-50
	{
		width: 100%;
	}
	.line-graph-50 p, .line-graph-50 h3, .text-area-100 h3
	{
		margin-right: 100px;
	}
}

/*
 * DataMap
 * CSS for DataMap specific items.
 */
.webgl-content *
{
	border: 0;
	margin: auto;
	padding: 0;
}
.webgl-content .logo, .progress
{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.webgl-content .logo
{
	background: url('/Builds/2017.12.07.0110/TemplateData/progressLogo.Light.png') no-repeat center / contain;
	width: 154px;
	height: 130px;
}
.webgl-content .progress
{
	height: 18px;
	width: 141px;
	margin-top: 90px;
}
.webgl-content .progress .empty
{
	background: url('/Builds/2017.12.07.0110/TemplateData/progressEmpty.Light.png') no-repeat right / cover;
	float: right;
	width: 100%;
	height: 100%;
	display: inline-block;
}
.webgl-content .progress .full
{
	background: url('/Builds/2017.12.07.0110/TemplateData/progressFull.Light.png') no-repeat left / cover;
	float: left;
	width: 0%;
	height: 100%;
	display: inline-block;
}
.webgl-content .logo.Dark
{
	background-image: url('/Builds/2017.12.07.0110/TemplateData/progressLogo.Dark.png');
}
.webgl-content .progress.Dark .empty
{
	background-image: url('/Builds/2017.12.07.0110/TemplateData/progressEmpty.Dark.png');
}
.webgl-content .progress.Dark .full
{
	background-image: url('/Builds/2017.12.07.0110/TemplateData/progressFull.Dark.png');
}
.webgl-content .footer
{
	margin-top: 5px;
	height: 38px;
	line-height: 38px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 18px;
}
.webgl-content .footer .webgl-logo, .fullscreen
{
	height: 100%;
	display: inline-block;
	background: transparent center no-repeat;
}
.webgl-content .footer .webgl-logo
{
	background-image: url('/Builds/2017.12.07.0110/TemplateData/webgl-logo.png');
	width: 204px;
	float: left;
}
.webgl-content .footer .title
{
	margin-right: 10px;
	float: right;
}
.webgl-content .footer .fullscreen
{
	background-image: url('/Builds/2017.12.07.0110/TemplateData/fullscreen.png');
	width: 38px;
	float: right;
}
